{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quos doloremque, placeat nobis provident esse numquam molestias nihil at. Nemo, mollitia? Iste modi ea magnam porro omnis quod ab nostrum delectus doloremque qui molestias sapiente animi dolorum nobis labore unde, aspernatur optio, minus esse magni, facilis eligendi beatae sit? Quidem porro pariatur quas perferendis earum veniam, cum fuga at tempora dolores quod, dolor sunt neque possimus numquam reiciendis iusto odio consequuntur iure praesentium vel atque? Hic quae repellat aperiam totam minus nulla aliquid repudiandae, quibusdam maiores adipisci dolore architecto inventore, itaque eaque velit tempora perspiciatis explicabo recusandae nihil. Dolores, quod?</p>

{% endblock %}
